@using RealEstateListingPlatform.App.Auth
@using RealEstateListingPlatform.App.Contracts
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager navigationManager
@inject CustomStateProvider authStateProvider
@inject ITokenService TokenService
@inherits LayoutComponentBase
<head>
    <link href="css/custom-navbar.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet" />

</head>
<div class="page">
    <button title="Navigation menu" class="sidebar custom-sidebar" @onclick="ToggleNavMenu">

        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="sidebar" style="width: @(IsNavMenuVisible ? "250px" : "0px"); transition: width 0.3s ease;">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    public bool IsNavMenuVisible { get; set; } = false;

    protected void ToggleNavMenu()
    {
        IsNavMenuVisible = !IsNavMenuVisible;
    }

    protected override async Task OnInitializedAsync()
    {
        var token = await TokenService.GetTokenAsync();
        if (token == null)
        {
            navigationManager.NavigateTo("/login");
        }
    }
}
