@page "/listingoverview"
@using RealEstateListingPlatform.App.Contracts
@using RealEstateListingPlatform.App.ViewModels

<h3>ListingOverview</h3>

<br />

@if (Listings == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Negotiable</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var listing in Listings)
            {
                <tr>
                    <td>@listing.Title</td>
                    <td>@listing.Description</td>
                    <td>@(listing.Negotiable ? "Yes" : "No")</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <table class="nested-table ms-auto me-auto">
                            <!-- Add additional details if needed -->
                        </table>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Inject]
    public IListingDataService ListingDataService { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    public List<ListingViewModel> Listings { get; set; }
}

@functions {
    protected override async Task OnInitializedAsync()
    {
        Listings = (await ListingDataService.GetListingsAsync()).ToList();
    }

}
