.button-edit {
    margin-top: 20px;
    margin-right: 10px;
}

.button-delete {
    margin-top: 20px;
}

.save-button {
    border-radius: 20px;
    border: 1px solid #56e625;
    background-color: #69d32a;
    color: #FFFFFF;
    font-size: calc(70%);
    font-weight: bold;
    padding: 10px 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left : -30%;
}

    .save-button:hover {
        background-color: #116520;
        cursor: pointer;
    }

.cancel-button {
    border-radius: 20px;
    border: 1px solid #ed3939;
    background-color: #ed3939;
    color: #FFFFFF;
    font-size: calc(70%);
    font-weight: bold;
    padding: 10px 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin-top: 10px;
    margin-bottom: 10px;
}

    .cancel-button:hover {
        background-color: #691a1a;
        cursor: pointer;
    }

.profile-container {
    border: 1px solid #ddd; /* Un contur subțire pentru vizualizare */
    padding: 20px; /* Spatiu interior pentru conținut */
    border-radius: 8px; /* Colțuri rotunjite */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Umbră pentru aspectul tridimensional */
    background: linear-gradient(to right, #4c31be 0%, #354ea0 100%) !important;
    color: #dde5eb;
    margin-bottom: 20px;
}


@media screen and (max-width: 2000px) {
    .save-button {
        margin-left: -20%;
    }
}
