

.card{
border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #ccc;
    transition: all 0.3s ease-in-out;

}


.title-container {
    border: 1px solid #ddd; /* Un contur subțire pentru vizualizare */
    padding: 20px; /* Spatiu interior pentru conținut */
    border-radius: 8px; /* Colțuri rotunjite */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Umbră pentru aspectul tridimensional */
    background: linear-gradient(to right, #4c31be 0%, #354ea0 100%) !important;
    color: #dde5eb;
    margin-bottom: 20px;
}

.container{
/*vreau aceleasi lucruri ca la .card*/
border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #ccc;
    transition: all 0.3s ease-in-out;
}

td{
    border: none;
}

h3 {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    .container {
        width: 110%;
    }
}